.landing_main{
  width: 400px;
  height: 70vh;
  background-color: rgb(221, 221, 221);
  border-radius: 2px;
  padding: 30px;
  
}
.l_welcome{
color: black;
font-size: 25px;
font-weight: 0;
font-family: 'Courier New', monospace;
}
.l_head{
  font-weight: 600;
  font-size: 34px;
  font-family: 'Courier New', monospace;
}
.l_Bottom{

   color: aquamarine;
   font-weight: 400;
  font-size: 20px;
  font-family: 'Courier New', monospace;
}

.l_bottom{
width: 100%;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
}
.connect_btn{
font-size: 20px;
width: 175px;
height: 75px;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
color: white;
background-image: linear-gradient(to bottom, #54c0fd, #45afed, #359ddd, #238dcd, #0b7cbd);
}