.h_head{
   color: white;
   font-size: 40px;
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
   margin-bottom: 50px;
}
.h3{
  font-size: 20px;
  width: 300px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  /* margin-bottom: 50px; */
}
.h_box{
    width: 400px;
    min-height: 400px;
    background-color: rgb(221, 221, 221);

}
.h_head{
  background-image: linear-gradient(to bottom, #54c0fd, #45afed, #359ddd, #238dcd, #0b7cbd);
  width: 100%;
  height: 75px;
}
.h_btn{
    width: 225px;
    height: 75px;
    display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border:4px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
}