.p_main{
  width: 400px;
  min-height: 400px;
  background-color: rgb(221, 221, 221);
  border: 3px solid black;
}

.p_head{
    font-family: 'Arial', sans-serif;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 00;
}

.p_bottom{
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.p_details{
  display: flex;
  width: 100%;
  justify-content:space-evenly;
}
.sub_head{
  font-size: 18px;
  font-weight: 600;
}
.p_id_main{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(247, 221, 182);
  color: black;
  display: flex;
  padding-top: 10px;
}
.p_id{
font-size: 17px;

}
.sub_sub{
 font-size: 20px;
 margin-bottom: 15px;
 text-align: center;
}
.p_rec{
   color:  rgb(10, 218, 201);
   font-size: 24px;
   font-weight: 700;
}
.p_cards{
   display: flex;
   width: 400px;
   justify-content: space-around;
   align-items: center;
   font-family: 'Trebuchet MS', sans-serif;
   margin-bottom: 10px;
}
.p_card{
   text-align: center;
   padding: 20px;
}

.p_card_head{
  color: #54c0fd;
  font-size: 17px;

}
.p_box{
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}
.p_card_sub{
  color: #238dcd;
}
.reffer_card{
    width: 400px;
    text-align: start;
}
.reffer_btn{
    background-color: rgb(7, 185, 168);
    padding: 15px;
    margin-top: 10px;
    width: 150px;
    border-radius: 10px;
}

.copy-img{
width: 20px;
height: 20px;
margin-left: 6px;
}
.copy-img:hover{
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.126);
  padding: 5px;
  }

/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

.button-9 {
  background-image: linear-gradient(to bottom, #54c0fd, #45afed, #359ddd, #238dcd, #0b7cbd);
  color: rgb(255, 255, 255);
  width: 150px;
  height: 45px;
  border-radius: 10px;
}


/* model */

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 400px;
  min-height: 200px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.md_1{
  font-size: larger;
  color: #ccc;
}
.md_2{
font-size: x-large;
color: #ccc;
}
.md_5{
  font-size:medium;
  color: #ccc;
  }
.md_3{
  background-color: #FF4742;
  color: #ccc;
  margin-top: 20px;
  margin-left: 270px;
  padding: 5px;
}

.in_2{
  margin-left: 50px;
  margin-top: 20px;
  height: 30px;
  width: 200px;
  border-radius: 5px;
}
.button-x{
  padding: 10px;
  padding-left: 30px;
  color: #ccc;
  background-color: #405cf5;
  width: 130px;
  margin-left: 70px;
  margin-top: 30px;
 border-radius: 5px;
}
.img-bell-h{
  position: relative;
  text-align: center;
  color: white;
}
.top-right {
  position: absolute;
  top: 30px;
  right: 120px;
}
.read_me{
  background-image: linear-gradient(to bottom, #ff0202,#840b0b);
  padding: 5px;
  border-radius: 3px;
  color: white;
  text-decoration: none
}
.read_me:hover{
  padding: 8px;
}
.a-1{
  text-decoration: none
}